<!DOCTYPE html>
<html>
  <head>
    <title>DontTellYourTeacher</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto|Satisfy" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Didact+Gothic" rel="stylesheet">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel= 'stylesheet' href= 'css/style.css'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css'>
    <!-- Compiled and minified JavaScript -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js'></script>
 <script src="https://www.gstatic.com/firebasejs/4.2.0/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyC_pokOQYgXoiRK7xxGfhZURoO_3zElGag",
    authDomain: "budgetcook-e9c19.firebaseapp.com",
    databaseURL: "https://budgetcook-e9c19.firebaseio.com",
    projectId: "budgetcook-e9c19",
    storageBucket: "",
    messagingSenderId: "847271826234"
  };
  firebase.initializeApp(config);
</script>

  </head>
  <body class = "homeBody" >
    <div class= "navbar-fixed">
        <nav class= "cyan lighten-1 navbar navbar-default">
                <div class="nav-wrapper">
                    <a href="#" class="brand-logo center"><img class="homeworkLogo" src="https://www.cmj.com/wordpress/wp-content/uploads/2014/05/avatars-000081407264-zlatp1-t500x500-660x660.jpg"/></a>
                    <a href="/" class="left brand-logo" id= "logoName"><font size= "10">Don't Tell Your Teacher</font></a>
                    <ul id="nav-mobile" class="right">
                        <li class= "navtext  hide-on-med-and-down noline" id= "third"><a href="/about"><font color= "white" size= "4">About the App</font></a></li>
                        <li class= "navtext noline" id= "fourth"><a href="/docs"><font color= "white" size="4">Share Google Docs</font></a></li>
                        <li class= "navtext noline" id= "fifth"><a href="/"><font color= "white" size="4">Home</font></a></li>
                        <hr />
                    </ul>
                </div>
        </nav>
    </div> 
 <script src="https://www.gstatic.com/firebasejs/4.1.5/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyC_pokOQYgXoiRK7xxGfhZURoO_3zElGag",
    authDomain: "https://dont-tell-abasquiat20.c9users.io/login",
    databaseURL: "https://budgetcook-e9c19.firebaseio.com",
    projectId: "budgetcook-e9c19",
    storageBucket: "",
    messagingSenderId: "847271826234"
  };
  firebase.initializeApp(config);
</script>
<main>
    <div id="table" class= "col s9" style = "display: inline-block;">
        <span class= "flow-text" id= "loginHeading"><font color="white" size= "10"><center>Login</center></font></span>
           <div>
               <h2 class="personalExperience center"id="experiencePersonalized"><font size="6" color="white">Enable your personalized experience while using Don't tell Your Teacher!</font></h2>
        <h3 id="google-displayName"></h3>
        <img class="profile-pic center"id="google-pic"/>
        <p id="google-email"></p>
     
        </div>
        <a  class="waves-effect waves-light btn center" id="google-signin" 
            onclick={signInWithGoogle()}>
        <i class="material-icons left center">cloud</i>Sign in with Google</a>
        
          <button 
            class="btn btn-"
            id="signout" 
            onclick={signOut()}
            style="display: none; visibility: hidden;" >
            Sign Out
        </button>
    </div>

</main>

  <footer class="footer"></footer>
        <footer class="page-footer cyan lighten-1">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">About Us</h5>
          <p class="grey-text text-lighten-4">We are a team of Prep for Prep IFE students. We did not only create Don't Tell Your Teacher because we were challenged to plan an app, but because we saw a problem in the average student's experiences. We knew that our app will help the everyday student save time.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Support</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="#!">Contact Us</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Customer Support</a> </li>
            <li><a class="grey-text text-lighten-3" href="#!">Site Map</a></li>
          </ul>
        </div>
    
        <div class="col l3 s12">
          <h5 class="white-text">Follow Us</h5>
          <ul>
            <p>@DTYT</p>
            <li>
              <a href="https://www.facebook.com/" class="fa fa-facebook"></a>
            </li>
            
            <li>
              <a href="https://twitter.com/login" class="fa fa-twitter"></a>
            </li>
            
            <li>
              <a href="https://www.instagram.com/accounts/login/" class="fa fa-instagram"></a>
            </li>
            
            <li>
              <a href="https://www.pinterest.com/ " class="fa fa-pinterest "></a>
            </li>
            
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright ">
      <div class="container ">
        © 2017 DontTellYourTeacher
        <a class="grey-text text-lighten-4 right " href="#! ">More Links</a>
      </div>
    </div>
</footer>


    <script src="js/firebaseAuth.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>

 </body>

</html>