 body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }



.homeworkLogo{
    font-family: 'Optima';
    top: 0%;
    height: 60px;
}

.homeBody {
       
background:  url("home.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

    
}


.h1{
        color:  #333333;
 font-family: 'Bowlby One SC', cursive;
    
}

.html, body {
  height: 100%;
  margin: 0;
}
.wrapper {
  min-height: 100%;

  /* Equal to height of footer */
  /* But also accounting for potential margin-bottom of last child */
  margin-bottom: -50px;
}
.footer,
.push {
  height: 50px;
}

/* Facebook */

.fa-facebook {
    background: #3B5998;
    color: white;
    width: 17px;
    height: 17px;
}


/* Twitter */

.fa-twitter {
    background: #55ACEE;
    color: white;
    width: 17px;
    height: 17px;
}


/* Insta */

.fa-instagram {
    width: 17px;
    height: 17px;
    background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
    color: white;
}


/* Pinterest */

.fa-pinterest {
    background: #bd081c;
    color: white;
    width: 17px;
    height: 17px;
}